<label>Name</label>
<input type="text" name="name" value="<%= speaker.name %>" placeholder="John Doe"/>

<label>Biography</label>
<input type="text" name="biography" value="<%= speaker.biography %>" placeholder="John Doe is the lead deigner at..."/>